@if(fonts.length === 0) {
   <div class="loading">
      <div class="icon">
         <mat-icon aria-hidden="true" fontIcon="download">
         </mat-icon>
      </div>
      <div>Loading...</div> 
   </div>
} @else {
   <mat-form-field >
      <mat-label>Choose Font</mat-label>
                  <mat-select>
                     <mat-option value="normal">normal</mat-option>
                     <mat-option value="basic">basic</mat-option>
                     <mat-option value="phong">phong</mat-option>
                  </mat-select>
                  <mat-hint>
                     The font that will be used.
                  </mat-hint>
      </mat-form-field>
}
