<table>
    <tr>
        <td>
            <b>Normal Material</b> 
            <p>This material can be rendered without light and does not support colors.</p>
        </td>
    </tr>
    <tr>
        <td>
            <b>Basic Material</b>
            <p>This material can be rendered without light and does support colors.</p>
        </td>
    </tr>
    <tr>
        <td>
            <b>Phong Material</b>
            <p>This material can be rendered without light but renders with a black color when there is no lighting.  When lighting is provided it supports colors and shadows.</p>                
        </td>
    </tr>
</table>
