<div>
    <form>
        <mat-form-field [formGroup]="form" appearance="fill">
            <mat-label>Bottom</mat-label>
            <input formControlName="bottom" matInput>
            <mat-hint>The bottom plane that is visible.</mat-hint>
        </mat-form-field>
        <mat-form-field [formGroup]="form" appearance="fill">
            <mat-label>Top</mat-label>
            <input formControlName="top" matInput>
            <mat-hint>The top plane that is visible.</mat-hint>
        </mat-form-field>
        <mat-form-field [formGroup]="form" appearance="fill">
            <mat-label>Left</mat-label>
            <input formControlName="left" matInput>
            <mat-hint>The left plane that is visible.</mat-hint>
        </mat-form-field>
        <mat-form-field [formGroup]="form" appearance="fill">
            <mat-label>Right</mat-label>
            <input formControlName="right" matInput>
            <mat-hint>The right plane that is visible.</mat-hint>
        </mat-form-field>
        <mat-form-field [formGroup]="form" appearance="fill">
            <mat-label>Near</mat-label>
            <input formControlName="near" matInput>
            <mat-hint>The near plane that is visible.</mat-hint>
        </mat-form-field>
        <mat-form-field [formGroup]="form" appearance="fill">
            <mat-label>xPos</mat-label>
            <input formControlName="xPos" matInput>
            <mat-hint>The position of the camera on the x axis.</mat-hint>
        </mat-form-field>
        <mat-form-field [formGroup]="form" appearance="fill">
            <mat-label>yPos</mat-label>
            <input formControlName="yPos" matInput>
            <mat-hint>The position of the camera on the y axis.</mat-hint>
        </mat-form-field>
        <mat-form-field [formGroup]="form" appearance="fill">
            <mat-label>zPos</mat-label>
            <input formControlName="zPos" matInput>
            <mat-hint>The position of the camera on the z axis.</mat-hint>
        </mat-form-field>
        <mat-form-field [formGroup]="form" appearance="fill">
            <mat-label>x look-at</mat-label>
            <input formControlName="xLookat" matInput>
            <mat-hint>The position on the x axis that the camera is pointed at.</mat-hint>
          </mat-form-field>

          <mat-form-field [formGroup]="form" appearance="fill">
            <mat-label>y look-at</mat-label>
            <input formControlName="yLookat" matInput>
            <mat-hint>The position on the y axis that the camera is pointed at.</mat-hint>
          </mat-form-field>

          <mat-form-field [formGroup]="form" appearance="fill">
            <mat-label>z look-at</mat-label>
            <input formControlName="zLookat" matInput>
            <mat-hint>The position on the z axis that the camera is pointed at.</mat-hint>
          </mat-form-field>

    </form>
</div>