<table>
    <tr>
        <td>Bottom</td>
        <td>{{cameraItem?.bottom}}</td>
    </tr>
    <tr>
        <td>Far</td>
        <td>{{cameraItem?.far}}</td>
    </tr>
    <tr>
        <td>Left</td>
        <td>{{cameraItem?.left}}</td>
    </tr>
    <tr>
        <td>Near</td>
        <td>{{cameraItem?.near}}</td>
    </tr>
    <tr>
        <td>Right</td>
        <td>{{cameraItem?.right}}</td>
    </tr>
    <tr>
        <td>Top</td>
        <td>{{cameraItem?.top}}</td>
    </tr>
    <tr>
        <td>xPos</td>
        <td>{{cameraItem?.xPos}}</td>
    </tr>
    <tr>
        <td>yPos</td>
        <td>{{cameraItem?.yPos}}</td>
    </tr>
    <tr>
        <td>zPos</td>
        <td>{{cameraItem?.zPos}}</td>
    </tr>
    <tr>
        <td>lookAt X</td>
        <td>{{cameraItem?.xLookat}}</td>
    </tr>
    <tr>
        <td>lookAt Y</td>
        <td>{{cameraItem?.yLookat}}</td>
    </tr>
    <tr>
        <td>lookAt Z</td>
        <td>{{cameraItem?.zLookat}}</td>
    </tr>
</table>

