<table>
    <tr>
        <td>ID</td>
        <td>Name</td>
        <td>Start {{displayName()}}</td>
        <td>End {{displayName()}}</td>
        <td>Current {{displayName()}}</td>
    </tr>
    @for(pair of animationPairs(); track $index) {
        <tr>
            <td>{{pair.item.id}}</td>
            <td>{{pair.item.name}}</td>
            <td>
                <input 
                    (keyup)="update(pair.item.id, $event, 'startValue')" 
                    type="text" 
                    value="{{getStart(pair.item.id)}}"
                    >
            </td>
            <td>
                <input 
                (keyup)="update(pair.item.id, $event, 'endValue')" 
                    type="text" 
                    value="{{getEnd(pair.item.id)}}"
                    >
            </td>
            <td>{{getCurrent(pair.item.id)}}</td>
        </tr>
    }
</table>
