<table>
    <tr>
        <td>id</td>
        <td>name</td>
        <td>start {{displayName()}}</td>
        <td>end {{displayName()}}</td>
        <td>current {{displayName()}}</td>
    </tr>
    @for(pair of animationPairs(); track $index) {
        <tr>
            <td>{{pair.item.id}}</td>
            <td>{{pair.item.name}}</td>
            <td>
                <input 
                    (keyup)="updateStart(pair.item.id, $event)" 
                    type="text" 
                    value="{{getStart(pair.item.id)}}"
                    >
            </td>
            <td>
                <input 
                    (keyup)="updateEnd(pair.item.id, $event)"
                    type="text" 
                    value="{{getEnd(pair.item.id)}}"
                    >
            </td>
            <td>{{getCurrent(pair.item.id)}}</td>
        </tr>
    }
</table>
