@if(this.filteredTableData.length > 0)
{
  <table mat-table [dataSource]="filteredTableData">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> ID </th>
      <td mat-cell *matCellDef="let data"> {{data.id}} </td>
    </ng-container>
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let data"> {{getName(data.id)}} </td>
    </ng-container>
    <ng-container matColumnDef="start">
      <th mat-header-cell *matHeaderCellDef> Start {{displayName()}}</th>
      <td mat-cell *matCellDef="let data">
        @if (data.type === 'Scene')
        {
          <mat-slider min="0" max="255" step="1">
            <input 
            (change)="update(data.id, $event, 'startValue')" 
            matSliderThumb 
            value="{{getStart(data.id)}}">
          </mat-slider>{{getStart(data.id)}}
        } @else {
          <input 
          (keyup)="update(data.id, $event, 'startValue')" 
          type="text" 
          value="{{getStart(data.id)}}"
          >
        }
      </td>
    </ng-container>
    <ng-container matColumnDef="end">
      <th mat-header-cell *matHeaderCellDef> End {{displayName()}}</th>
      <td mat-cell *matCellDef="let data"> 
        @if (data.type === 'Scene')
        {
          <mat-slider min="0" max="255" step="1" showTickMarks discrete>
            <input 
              matSliderThumb
              (change)="update(data.id, $event, 'endValue')"  
              value="{{getEnd(data.id)}}"
              >
          </mat-slider>{{getEnd(data.id)}}
        } @else {
          <input 
          (keyup)="update(data.id, $event, 'endValue')" 
              type="text" 
              value="{{getEnd(data.id)}}"
              >
        }

      </td>
    </ng-container>
    <ng-container matColumnDef="current">
      <th mat-header-cell *matHeaderCellDef> Current {{displayName()}}</th>
      <td mat-cell *matCellDef="let data"> {{getCurrent(data.id)  | number : '1.2-2'}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
}