<button (click)="toggleEdit()" mat-raised-button color="primary">
    @if(editing)
    {
        Show Raw Data
    } @else {
        Show Edit Form
    }
</button>
@if(editing)
{
    <div>
        <form>
            <mat-form-field [formGroup]="form" appearance="fill">
                <mat-label>Field Of View (FOV)</mat-label>
                <input formControlName="fov" matInput>
                <mat-hint>The range of the observable world that is visible.</mat-hint>
              </mat-form-field>

              <mat-form-field [formGroup]="form" appearance="fill">
                <mat-label>Aspect Ratio</mat-label>
                <input formControlName="aspect" matInput>
                <mat-hint>The ratio of an image's width to its height.</mat-hint>
              </mat-form-field>
        </form>
    </div>
} @else {
    <table>
        <tr>
            <td>Aspect</td>
            <td>{{cameraItem?.aspect}}</td>
        </tr>
        <tr>
            <td>Field Of View (FOV)</td>
            <td>{{cameraItem?.fov}}</td>
        </tr>
        <tr>
            <td>Far</td>
            <td>{{cameraItem?.far}}</td>
        </tr>
        <tr>
            <td>Near</td>
            <td>{{cameraItem?.near}}</td>
        </tr>
        <tr>
            <td>xPos</td>
            <td>{{cameraItem?.xPos}}</td>
        </tr>
        <tr>
            <td>yPos</td>
            <td>{{cameraItem?.yPos}}</td>
        </tr>
        <tr>
            <td>zPos</td>
            <td>{{cameraItem?.zPos}}</td>
        </tr>
    </table>
}
