<button (click)="toggleEdit()" mat-raised-button color="primary">
    @if(editing)
    {
        Show Raw Data
    } @else {
        Show Edit Form
    }
</button>

<mat-checkbox (change)="updateCameraType($event)" [checked]="cameraType==='orthographic'" >Orthographic</mat-checkbox>

@if(editing && cameraType === 'perspective')
{
    <app-perspective-form></app-perspective-form>
} @else if(cameraType === 'perspective') {
    <app-perspective-data></app-perspective-data>
} @else if (editing && cameraType === 'orthographic') {
    <app-og-form></app-og-form>
} @else {
    <app-og-data></app-og-data>
}
