@if(this.animationPairs.length > 0)
{
    <app-animation-property
        displayName="x"
        propertyName="xPos"
        [animationPairs]="animationPairs"
        threePropertyName="position"
        threeSubPropertyName="x"
        (startValueChange)="valueChange($event)"
        (endValueChange)="valueChange($event)"
        ></app-animation-property>

    <app-animation-property
        displayName="y"
        propertyName="yPos"
        [animationPairs]="animationPairs"
        threePropertyName="position"
        threeSubPropertyName="y"
        (startValueChange)="valueChange($event)"
        (endValueChange)="valueChange($event)"
        ></app-animation-property>

}
