<div class="pickers">
    <div class="sliders">
        <div 
            class="color"
            [ngStyle]="{'background-color': 'rgb('+redValue()+',0,0)'}"
            >
            <mat-slider 
                max="255" 
                min="0">
            <input
                [value]="redValue()"
                (change)="updateColor($event, 'red')"
                matSliderThumb>
            </mat-slider> 
            <div class="value">{{redValue()}}</div>
        </div>
        <div 
            class="color"
            [ngStyle]="{'background-color': 'rgb(0,'+greenValue()+',0)'}"
            >
            <mat-slider max="255" min="0">
            <input
                [value]="greenValue()"
                (change)="updateColor($event, 'green')"
                matSliderThumb>
            </mat-slider>
            <div class="value">{{greenValue()}}</div>
        </div>
        <div
            class="color"
            [ngStyle]="{'background-color': 'rgb(0,0,'+blueValue()+')'}"
            >
            <mat-slider max="255" min="0">
            <input
                [value]="blueValue()"
                (change)="updateColor($event, 'blue')"
                matSliderThumb>
            </mat-slider>
            <div class="value">{{blueValue()}}</div>
        </div>
    </div>
    <div 
        class="result"
        [ngStyle]="{'background-color': 'rgb('+redValue()+','+greenValue()+','+blueValue()+')'}"
        >&nbsp;</div>
</div>