<div class="toolbox">
   <button class="add-mesh" mat-raised-button color="primary" (click)="addMesh()">Add Mesh</button>

   <table>
   @for( mesh of meshList; track mesh.id ){
      @if(editId === 0 || editId === mesh.id)
      {
         <tr>
            <td>
               @if(editId === 0)
               {
                  <div class="data-row">
                     <div class="data-title">id:</div>
                     <div class="data-value">{{mesh.id}}</div>
                  </div>
                  <div class="data-row">
                     <div class="data-title">x Pos:</div>
                     <div class="data-value">{{mesh.xPos}}</div>
                  </div>
               } @else {
                  @if(mesh.form)
                  {
                     <form [formGroup]="mesh.form">
                        <div class="data-row">
                           <div class="data-title">id:</div>
                           <div class="data-value">{{mesh.id}}</div>
                        </div>
                        <div class="data-row">
                           <div class="data-title">x Pos:</div>
                           <div class="data-value">
                              <input formControlName="xPos" type="text">
                           </div>
                        </div>
                     </form>
                  }

               }

               
               
            </td>
            <td>
               @if(editId === 0)
               {
                  <button (click)="setEditId(mesh.id)" mat-icon-button color="basic">
                     <mat-icon>edit</mat-icon>
                  </button>
                  <button (click)="deleteMesh(mesh)" mat-icon-button color="warn">
                     <mat-icon>delete</mat-icon>
                  </button>
               } @else {
                  <button (click)="resetEditId()" mat-icon-button color="basic">
                     <mat-icon>done</mat-icon>
                  </button>
               }

            </td>
         </tr>
      }

   }
   </table>

</div>
