<div class="toolbox">
  <mat-tab-group>
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon>camera</mat-icon>
        camera
      </ng-template>
      <app-camera-manager></app-camera-manager>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon>lights</mat-icon>
        light
      </ng-template>
      <app-light-manager></app-light-manager>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon>view_in_ar</mat-icon>
        mesh
      </ng-template>
      <app-mesh-manager></app-mesh-manager>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon>wallpaper</mat-icon>
        scene
      </ng-template>
      <app-scene-manager></app-scene-manager>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon>animation</mat-icon>
        animation
      </ng-template>
      <app-animation-manager></app-animation-manager>
    </mat-tab>
  </mat-tab-group>
</div>
