<button class="add-mesh" mat-raised-button color="primary" (click)="addMesh()">Add Mesh</button>

<table>
@for( mesh of meshList; track mesh.id ){
   @if(editId === 0 || editId === mesh.id)
   {
      <tr>
         <td>
            @if(editId === 0)
            {
               <div class="data-row">
                  <div class="data-title">id:</div>
                  <div class="data-value">{{mesh.id}}</div>
               </div>
               <div class="data-row">
                  <div class="data-title">x Pos:</div>
                  <div class="data-value">{{mesh.xPos}}</div>
               </div>
               <div class="data-row">
                  <div class="data-title">y Pos:</div>
                  <div class="data-value">{{mesh.yPos}}</div>
               </div>
               <div class="data-row">
                  <div class="data-title">z Pos:</div>
                  <div class="data-value">{{mesh.zPos}}</div>
               </div>
               <div class="data-row">
                  <div class="data-title">material:</div>
                  <div class="data-value">{{mesh.materialType}}</div>
               </div>
               @if(meshDict[mesh.id].materialType !== 'normal'){
                  <div class="data-row">
                     <div class="data-title">color:</div>
                     <div class="data-value">{{mesh.redColor}}, {{mesh.greenColor}}, {{mesh.blueColor}}</div>
                  </div>
               }
            } @else {
               @if(mesh.form)
               {
                  <form [formGroup]="mesh.form">
                     <div class="data-row">
                        <div class="data-title">id:</div>
                        <div class="data-value">{{mesh.id}}</div>
                     </div>
                  <mat-form-field [formGroup]="mesh.form" appearance="fill">
                        <mat-label>X Position</mat-label>
                        <input formControlName="xPos" matInput>
                        <mat-hint>The position of the object along the x-axis.</mat-hint>
                  </mat-form-field>

                  <mat-form-field [formGroup]="mesh.form" appearance="fill">
                     <mat-label>Y Position</mat-label>
                     <input formControlName="yPos" matInput>
                     <mat-hint>The position of the object along the y-axis.</mat-hint>
                  </mat-form-field>

                  <mat-form-field [formGroup]="mesh.form" appearance="fill">
                     <mat-label>Z Position</mat-label>
                     <input formControlName="zPos" matInput>
                     <mat-hint>The position of the object along the z-axis.</mat-hint>
                  </mat-form-field>
 
                  <mat-form-field [formGroup]="mesh.form">
                     <mat-label>Choose one</mat-label>
                     <mat-select formControlName="materialType">
                        <mat-option value="normal">normal</mat-option>
                        <mat-option value="basic">basic</mat-option>
                        <mat-option value="phong">phong</mat-option>
                     </mat-select>
                     <mat-hint>Select A Materials</mat-hint>
                  </mat-form-field>
                     
                  @if(meshDict[mesh.id].materialType !== 'normal')
                  {
                     <app-color-picker
                     [redValue]="meshDict[mesh.id].redColor"
                     [greenValue]="meshDict[mesh.id].greenColor"
                     [blueValue]="meshDict[mesh.id].blueColor"
                     (redUpdate)="redUpdate($event, mesh.id)"
                     (greenUpdate)="greenUpdate($event, mesh.id)"
                     (blueUpdate)="blueUpdate($event, mesh.id)"
                     ></app-color-picker>
                  }
                  </form>
               }
            }  
         </td>
         <td>
            @if(editId === 0)
            {
               <button (click)="setEditId(mesh.id)" mat-icon-button color="basic">
                  <mat-icon>edit</mat-icon>
               </button>
               <button (click)="deleteMesh(mesh)" mat-icon-button color="warn">
                  <mat-icon>delete</mat-icon>
               </button>
            } @else {
               <button (click)="resetEditId()" mat-icon-button color="basic">
                  <mat-icon>done</mat-icon>
               </button>
            }
         </td>
      </tr>
   }
}
</table>