.add-mesh
    {
        margin-top: 10px;
    }

    .data-row
    {
        display: flex;

        .data-title
        {
            width: 60px;
            text-align: right;
        }

        .data-value
        {
            margin-left: 5px;

            input
            {
                width: 35px;
            }
        }
    }

    mat-form-field
    {
        width: 300px;
        display: block;
    }