@if(animation)
{
<div class="top-row">
    <div>
        <mat-checkbox 
        (change)="updateAnimation($event)" 
        [checked]="animation.running" >Animation</mat-checkbox>
    </div>
    <div class="looping">
        <mat-checkbox 
        (change)="updateAnimationLooping($event)" 
        [checked]="animation.looping">looping</mat-checkbox>
        @if(animation.looping) {
            <mat-form-field>
                <mat-label>Loop Time (seconds)</mat-label>
                <input (keyup)="updateLoopTime()" matInput type="text" [(ngModel)]="animation.time">
            </mat-form-field>
        }
    </div>

    <div>
    <button (click)="restartAnimation()" mat-raised-button color="primary">Restart</button>
    </div>
</div>
<div class="second-row">
@if (animation.looping) {
    <div>
        <mat-checkbox 
        (change)="updatePause($event)" 
        [checked]="animation.pause" >Pause</mat-checkbox>
    </div>
    @if (animation.pause) 
    {
        <div class="slider">Time
            <mat-slider  min="0" [max]="animation.time" step=".1" showTickMarks discrete>
                <input  matSliderThumb [(ngModel)]="animation.pauseTime">
            </mat-slider>
        </div>
    }
}
</div>
    <div>
        <app-animated-items></app-animated-items>
    </div>
}
